 /** {
  background-color: cadetblue;
}
* * {
  background-color: midnightblue;
}
* * * {
  background-color: ivory;
}
* * * * {
  background-color: lightslategray;
}
* * * * * {background-color: lightsalmon;}*/

/*giving base font size for further rems*/
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

/*general padding*/
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}

.navbar .navbar-brand .display-1 {
  font-family: "Open Sans", sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 10px;
}
.main-card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.cards {
  width: 35em;
  height: 50em;
  margin: 3em 1em;
  position: relative;
  perspective: 1100px;
}
.cards .face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 2px 10px 3px rgba(200, 200, 200, 0.698);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 0.1);
}
.cards .front {
  background-color: rgb(50, 50, 50);
}
.cards .back {
  background-color: rgb(105, 105, 105);
  transform: rotateY(180deg);
}
.cards:hover > .front {
  transform: rotateY(-180deg);
}
.cards:hover > .back {
  transform: rotateY(0deg);
}

.featured-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sideCards {
  width: 45em;
  height: 60em;
  background-color: rgb(50, 50, 50);
  box-shadow: 0px 3px 10px 3px rgba(51, 51, 51, 0.507);
  border-radius: 5px;
  margin-top: 3em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-containers {
    height: 30rem;
}

@media screen and (max-width: 1200px) {
  .main {
    font-size: 8px;
  }
}
@media screen and (max-width: 1086px) {
  .main {
    font-size: 7.26px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    flex-direction: column-reverse;
    font-size: 8px;
  }
  .featured-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 650px) {
  .main {
    font-size: 8.5px;
  }
}
